* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brown {
    background-color: brown;
}

.a {}

.grey {
    background-color: beige;
}

ul {
    /* display: flex; */
    /* justify-content: center; */
}

.board {
    display: flex;
    justify-content: center;
    /* flex-direction: row-reverse; */
    margin: 30vh 30vh;
}

li {
    list-style: none;
    height: 3.5vw;
    width: 3.5vw;
}

#eight {
    color: blue;
}