body {
  background-color: rgb(6, 189, 180);
}
h1 {
  color: rgb(171, 206, 76);
  font-style: unset;
}
h5{
  color: grey
(209, 224, 211);
  font-style:oblique;
}
h2{
  color: rgb(89, 76, 206);
  font-style:oblique;
}
._blanks {
  color: rgb(227, 225, 240);
  font-style:oblique;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 8px 0 rgba(96, 167, 30, 0.2);
}

/* Add some padding inside the card container */
.container {
  
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 49%;
  margin: auto;
  padding: 3Opx;
  float: left;
}
.card {
  box-shadow: 0 20px 20px 0 rgba(50,5,4,3);
  border-radius: 5px; /* 5px rounded corners */
  transition: 1s;
  background-color: rgb(173, 174, 250);
  width: 200px;
  height: 300px;
    margin: auto;
  }
  
  #git{float: left;
  width: 50%;
 padding: 5px;
size-adjust: 10px
;}
        
  